<div>关于我/Abount Me</div>
<div>
    <p>一个小前端呀小前端</p>
    <p>喜欢看看动漫，海贼王是我追的最久的一部，最爱路飞和索隆，因为帅。也喜欢看夏目友人帐哦，很暖呢</p>
    <p>家住四川，毕业重庆，有四川重庆的小伙伴记得。。。看看就好了</p>
</div>
<script type="text/javascript" src="/js/home/blog.js"></script>