<div>
	<ol class="breadcrumb">
		<li><a href="#" class="active">返回</a></li>
	</ol>
</div>
<div class="content-article">
  <form class="bs-example bs-example-form" role="form">
    <div class="input-group">
      <span class="input-group-addon">标题</span>
      <input type="text" class="form-control" placeholder="twitterhandle" name="title" required>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">分类</span>
      <input type="text" class="form-control" placeholder="twitterhandle" name="type" required>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">关键字</span>
      <input type="text" class="form-control" placeholder="twitterhandle" name="keyword" required>
    </div>
  </form>
</div>
