<div>
	<ol class="breadcrumb">
		<li><a href="/article" class="active">返回</a></li>
	</ol>
</div>
<div class="content-article">
  <form class="bs-example bs-example-form" role="form" id="acticleForm" method="post">
    <div class="input-group">
      <span class="input-group-addon">标题</span>
      <input type="text" class="form-control" placeholder="请输入文章标题" name="title" required/>
    </div>
	  </br>
    <div class="input-group">
      <span class="input-group-addon">分类</span>
			<select id="disabledSelect" class="form-control" name="type">
				{{#each type}}
					<option value="{{_id}}">{{typeName}}</option>
				{{/each}}
			</select>
    </div>
	  </br>
    <div class="input-group">
      <span class="input-group-addon">关键字</span>
      <input type="text" class="form-control" placeholder="请输入关键字" name="keywords" required/>
			<span class="input-group-addon">（多个关键字之间用“,”间隔）</span>
    </div>
		</br>
		<div id="articleEditormd" name="content"></div>
		<div class="btn-control">
			<button class="btn btn-primary btn-margin" id="saveArticle">保存</button>
			<a type="button" class="btn btn-primary" href="/article">取消</a>
		</div>
  </form>
</div>
