
{{#each article}}
<div class="page-header">
    <h1>{{title}}
        <small>子标题</small>
    </h1>
</div>
<p>{{{content}}}</p>
{{/each}}
<script type="text/javascript" src="/js/home/blog.js"></script>
