{{#section 'head'}}
    <link rel='stylesheet' href='/css/blog.css'/>
{{/section}}
<!--博客-->
<div class="homeContent">
    <div style="padding: 10% 0;text-align: center;font-size: 1.5rem;">
        模块建设中,请敬请期待......
    </div>
</div>
{{#section 'footer'}}
    <script src="/js/home/blog.js"></script>
{{/section}}