<!doctype html>
<html>
  <head>
    <title>wsf</title>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel='stylesheet' href='/css/index.css'/>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/home.css'/>
    <link rel='stylesheet' href='/css/editormd.min.css'/>
     <link rel='stylesheet' href='/css/abount.css'/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/plugins/editor/editormd.min.js"></script>
  </head>
  <body>
    <div class="home-back">
      <div class="btn-list">
        <button type="button" class="btn btn-default" id="homePage">首页</button>
        <button type="button" class="btn btn-default" id="blogPage"><a href="/index/blog" class="btn-txt-style">博客</a></button>
        <button type="button" class="btn btn-default" id="blogPage">演示</button>
        <button type="button" class="btn btn-default" id="abountMe"><a href="/index/abountMe" class="btn-txt-style">关于</a></button>
      </div>
    </div>
    <div class="home-content">
      {{{body}}}
    </div>
    <script type="text/javascript" src="/js/home/home.js"></script>
  </body>
</html>
