<!doctype html>
<html>
  <head>
    <title>wsf</title>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel='stylesheet' href='/css/index.css'/>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/home.css'/>
    <link rel='stylesheet' href='/css/editormd.min.css'/>
     <link rel='stylesheet' href='/css/abount.css'/>
      <link rel='stylesheet' href='/css/blog.css'/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/plugins/editor/editormd.min.js"></script>
  </head>
  <body>
      <div class="home-blog">
        <div class="">
            <div class="home-header homeContent">
                <div class="home-title">
                    wsf
                </div>
                <div class="home-list">
                    <span>home&nbsp;&nbsp;</span>/&nbsp;&nbsp;
                    <span>blog&nbsp;&nbsp;</span>/&nbsp;&nbsp;
                    <span>demo&nbsp;&nbsp;</span>/&nbsp;&nbsp;
                    <span>about</span>
                </div>
            </div>
            {{{body}}}
            <div class="home-bottom homeContent">
            </div>
        </div>
      </div>
    <script type="text/javascript" src="/js/home/home.js"></script>
  </body>
</html>
