extends layout

block content
  div.head
    div.title WSF
  div.content
    div.col-xs-2.padding-style
      ul.menuNav 内容管理
        li 文章管理
      ul.menuNav 基础设置
        li 用户管理
        li 类别管理
    div.col-xs-10
