<!doctype html>
<html>
  <head>
    <title>首页</title>
    <meta char-set='utf-8'>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/index.css'>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
  <body>
    <div class="head">wsf</div>
    <div class="content-index">
      <div class="left-nav">
        <ul class="nav nav-pills nav-stacked">
        	<li class="active"><a href="#">内容管理</a></li>
        	<li><a href="#">基础设置</a></li>
        </ul>
      </div>
      <div class="right-nav">
        {{{body}}}
      </div>
    </div>
  </body>
</html>
