
.content-article{
	width: 96%;
	margin: 0 auto;
}

.lable-width{
	width: 10% !important;
	display: inline-block !important;
}

/* 新增 */
.btn-control{
	text-align: center;
}

.btn-margin{
	margin-right: 10%;
}

.table-content{
	overflow-y: auto;
	height: 800px;
}
