
.blog-content{
    width:100%;
    overflow: hidden;
    background: #e2e2e0;
}

.blog-back{
    width:100%;
    display: block;
    position: absolute;
    top:0;
    left:0;
}

.blog-left{
    width:74%;
    float: left;
}

.blog-article{
    width:100%;
    background: #ffffff;
    border: 1px solid #d6d6d6;
    margin-bottom:3%;
    padding: 5% 0 7% 3%;
}

.blog-right{
    width:26%;
    float: left;
    padding-left: 3%;
}

.blog-detail{
    width:83%;
    float: left;
}

.blog-author{
    width:17%;
    float: left;
    padding-top: 5%;
    text-align: center;
}

.blog-detail-image{
    width:31%;
    padding-top: 31%;
    border: 5px solid #f0f0f0;
    position: relative;
    float: left;
}

.blog-detail-text{
    width:65%;
    float: left;
    max-height: 100px;
    padding-left: 3%;
}

.blog-detail-image img{
    width:100%;
    height: 100%;
    display: block;
    position: absolute;
    top:0;
    left:0;
}

.blog-author-text{
    font-size: 20px;
    color: #000000;
}

.blog-author-name{
    color: #e6618c;
    font-size: 12px;
}

.blog-type{
    color: #989b9f;
    font-size: 14px;
}

.blog-detail-title{
    font-size: 28px;
    color: #000;
    margin:1% 0 1% 0;
}

.blog-list-group{
    background: #ffffff;
    border: 1px solid #d6d6d6;
}

.blog-list-group-item{

}

.blog-read{
    color: #c8c8c8;
}

.blog-read::before{
    content: ' ',
    background:url("../images/Xmas_C_04.png");
    background-size: 100% 100%;
    width: 10%;
    display: inline-block;
    vertical-align: middle;
}