
body,div,ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li{
  list-style-type:none;
}

/* 标题头部 */
.head{
  background: #333333;
  width: 100%;
  color:#ffffff;
  font-size: 32px;
  font-weight: bold;
  padding:0.5% 0;
  padding-left: 2%;
}

.content-index{
  width: 100%;
  overflow: hidden;
}

/* 导航 */
.left-nav{
  width: 10%;
  float: left;
  background: #495060;
  padding-bottom: 90%;
}

.panel-btn{
  color: hsla(0,0%,100%,.7) !important;
}

.panel-btn-detail a .panel-btn:hover{
  color: #ffffff !important;
  text-decoration: none !important;
}

.panel-btn-detail{
  color: #495060;
  background: #363e4f;
  border-top:0px !important;
  padding-left: 32px !important;
  cursor: pointer;
}

.panel-btn-detail a{
  color: hsla(0,0%,100%,.7);
}

.right-nav{
  width: 90%;
  float: left;
}

.font-style{
  padding-right: 5px;
}

/* 新增类别 */
.input-width{
  width: 50%;
}
