body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%;
	overflow-y: auto;
}

a {
  /*color: #333333 !important;*/
}

a:hover{
	text-decoration: none !important;
}

.pointer-style{
  cursor: pointer;
}

.not-fount{
	width: 50%;
	display: block;
	margin: 7% auto 0 auto;
}

.align-style{
	text-align: center;
}

.display-hidden{
	display: none;
}

.display-block{
	display: block;
}

.alert-position{
	position: absolute;
	top: 0;
	left: 50%;
	margin-top: 20%;
	transform: translateX(-50%);
	width:20%;
}
