body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  /*color: #333333 !important;*/
}

a:hover{
	text-decoration: none !important;
}

.pointer-style{
  cursor: pointer;
}

.not-fount{
	width: 50%;
	display: block;
	margin: 0 auto;
	margin-top: 7%;
}

.align-style{
	text-align: center;
}