{{#section 'head'}}
    <link rel='stylesheet' href='../../css/article.css'/>
{{/section}}
{{> tips }}
<div>
	<ol class="breadcrumb">
		<li><a href="#" class="active">类别管理</a></li>
	</ol>
</div>
<div class="content-article">
	<div class="search-list">
		<a type="button" class="btn btn-primary" data-toggle="modal" data-target="#articleTypeModel">新增类别</a>
	</div>
	<div class="table-responsive table-content">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>类别名称</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{{#each type}}
				<tr>
					<td>#</td>
					<td>{{typeName}}</td>
					<td>
						<a type="button" class="btn btn-primary" href="/articleType/articleTypeEdit?articleTypeId={{_id}}">编辑</a>
						<a type="button" class="btn btn-danger" onclick="deleteArticleType('{{_id}}')">删除</a>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="articleTypeModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					新增类别
				</h4>
			</div>
			<form id="articleTypeForm">
				<div class="modal-body">
					<label for="title" class="control-label">类别名称</label>
					<input type="text" class="form-control input-width" placeholder="请输入类别名称" name="typeName">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" id="saveArticleType">确定</button>
				</div>
			</form>
		</div>
	</div>
</div>
{{#section 'footer'}}
    <script src="../../js/articleType/articleType.js"></script>
    <script src="../../js/articleType/articleTypeAdd.js"></script>
{{/section}}
