{{#section 'head'}}
    <link rel='stylesheet' href='../../css/article.css'/>
{{/section}}
<div>
	<ol class="breadcrumb">
		<li><a href="#" class="active">演示内容管理</a></li>
	</ol>
</div>
<div class="content-article" id="demo">
	<div class="search-list">
		<label for="title" class="control-label">演示标题</label>
		<input type="text" class="form-control lable-width" placeholder="请输入演示标题名称" v-model="title">
		<button type="button" class="btn btn-primary" @click="getData()">搜索</button>
		<a type="button" class="btn btn-primary" @click="addDemo()">新增演示</a>
	</div>
	<div class="table-responsive table-content">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>标题</th>
					<th>作者</th>
					<th>创建时间</th>
					<th>描述</th>
					<th>源码地址</th>
                    <th>演示地址</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(item,index) in demoList" v-if="item_id">
					<td>#</td>
					<td v-text="item.demoTitle"></td>
					<td v-text="item.author.nickname"></td>
					<td v-text="item.create_time"></td>
					<td v-text="item.demoDescription"></td>
					<td v-text="item.codeUrl"></td>
					<td v-text="item.demoLink"></td>
					<td>
						<a type="button" class="btn btn-primary">查看详情</a>
						<a type="button" class="btn btn-primary">编辑</a>
						<a type="button" class="btn btn-danger" @click="deleteDemo(item._id)">删除</a>
					</td>
				</tr>
			</tbody>
		</table>
        <div class="more-btn" @click="getData()" v-show="moreData">点击查看更多>></div>
        <div class="more-btn" v-show="!moreData">没有更多数据了哦~</div>
	</div>

    <!-- 模态框（Modal）新增 -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" v-show="demoAdd">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        新增演示
                    </h4>
                </div>
                <form>
                    <div class="modal-body">
                        <label for="title" class="control-label">演示标题</label>
                        <input type="text" class="form-control input-width" placeholder="请输入演示标题" v-model="demoData.titleAdd">
                    </div>
                    <div class="modal-body">
                        <label for="title" class="control-label">演示地址</label>
                        <input type="text" class="form-control input-width" placeholder="请输入演示地址" v-model="demoData.demoLinkAdd">
                    </div>
                    <div class="modal-body">
                        <label for="title" class="control-label">源码地址</label>
                        <input type="text" class="form-control input-width" placeholder="请输入源码地址" v-model="demoData.codeUrlAdd">
                    </div>
                    <div class="modal-body">
                        <label for="title" class="control-label">描述</label>
                        <textarea type="text" class="form-control input-width" placeholder="请输入演示相关描述内容" v-model="demoData.descriptionAdd"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="saveArticleType">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{#section 'footer'}}
    <script src="../../js/demo/demo.js"></script>
{{/section}}
