<!-- 模态框（Modal） -->
<div class="modal fade confirm-alert" id="myConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" v-text="msg"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" @click="close">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" @click="">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
