.disabled-info{
    disabled:true;
}

.avatar-border{
    width:10rem;
    height: 10rem;
    border: 0.2rem solid #f1f1f1;
    position: relative;
}

.avatar{
    display: block;
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
}

.file-input{

}

.file-btn{
    opacity: 0;
    width:5rem;
    heigt:4rem;
    position: absolute;
    top:0;
    left:0;
}

.submit-btn{
    width:5rem;
    heigt:4rem;
}