{{#section 'head'}}
    <link rel="stylesheet" href="../../css/abount.css">
{{/section}}
<div class="homeContent" id="about">
    <div class="me-content">
        <div>
            <img src="../../images/love.jpg" class="me-img" alt="我和我爱的她">
        </div>
        <div class="abountMe">关于我/About Me</div>
        <p>一个小前端</p>
    </div>
    <bottom></bottom>
</div>