{{#section 'head'}}
    <link rel='stylesheet' href='../../css/abount.css'/>
{{/section}}
<div class="homeContent">
    <div class="me-content">
        <div>
            <img src="../../images/love.jpg" class="me-img" alt="我和我爱的她">
        </div>
        <div class="abountMe">关于我/About Me</div>
        <p>一个小前端呀小前端</p>
        <p>喜欢看看动漫，海贼王是我追的最久的一部，最爱路飞和索隆，因为帅。也喜欢看夏目友人帐哦，很暖呢</p>
        <p>嗯，也喜欢乱七八糟的写一堆东西</P>
        <p>家住四川，毕业重庆，有四川重庆的小伙伴记得。。。看看就好了</p>
        <p>ps:暂时功能还不完善</p>
    </div>
</div>