<!doctype html>
<html>
  <head>
    <title>404</title>
    <meta charset='utf-8'/>
    <link rel='stylesheet' href='../../css/style.css'/>
    <link rel='stylesheet' href='../../css/index.css'/>
  </head>
  <body>
    <img src="../../images/404.png" class="not-fount"/>
  </body>
</html>
